body{
  background-color: black;
  margin: 0;
  padding: 0;
}

/* FOOTER*/

.footer{
  height: 150px;
  width: 90vw;
  margin: auto;
  font-family: sans-serif;
}

.upper ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.upper ul li{
  list-style: none;
}

.upper ul li a{
  text-decoration: none;
  font-size: 19px;
  color: white;
  padding: 0 20px;
}

.lower ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower ul li{
  list-style: none;
}

.lower ul li a{
  text-decoration: none;
  font-size: 19px;
  color: white;
  padding: 0 21px;
}

.lower ul li a i{
  padding-left: 10px;
}

.lower ul li .heart i{
  font-size:18px;
  color:red;
  padding-left: 5px;
}

.lower ul li a img{
  height: 40px;
  width: 190px;
}

/*--------------------------------------------------------------------*/

/* FORM */

.form-div{
  height: 400px;
  width: 80vw;
  /* background-color: blue; */
  margin: auto;
}

.waiting-list{
  height: 350px;
  width: 80vw;
  background-color: rgb(104, 17, 17);
  background-image: linear-gradient(180deg, rgb(67, 9, 9), rgb(14, 3, 3));
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  word-spacing: 5px;
  font-weight: 600;
}

.form-title{
  color: white;
  font-size: 40px;
  padding-left: 50px;
  font-family: sans-serif;
}

table{
  /* margin: auto; */
  color: white;
  font-family: sans-serif;
  /* background-color: aliceblue; */
}

tr{
  padding: 10px 20px;
}

input{
  padding: 10px 0;
  /* padding-right: 120px; */
  width: 300px;
  background-color: rgb(13, 4, 4);
  border: none;
  text-align: left;
  margin-right: 15px;
  margin-bottom: 30px;
}

.form-button{
  height: 40px;
  min-width: 100px;
  background-color: rgb(122, 26, 26);
  color: white;
  border: none;
  padding: 10px 25px;
}

hr{
  margin-top: 40px;
}

/*--------------------------------------------------------------------*/

/*TOP*/

.top-page{
  min-height: 500px;
  width: 100%;
  /* background-color: aquamarine; */
}

.navbar{
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.img-logo img{
  height: 40px;
  width: 250px;
  margin-left: 70px;
}

.hamburger .ham{
  height: 40px;
  width: 40px;
  background-color: white;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.ham1, .ham3 {
  height: 2px;
  width: 20px;
  background-color: black;
  
}

.ham2 {
  height: 2px;
  width: 15px;
  background-color: black;
  margin-left: 3px;
}

.main{
  height: 330px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  color: white;
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content{
  height: 200px;
  width: 800px;
  /* background-color: aqua; */
  margin-top: 20px ;
}

p{
  margin: 0;
}

.p1{
  color: rgb(104, 104, 28);
  font-weight: 500;
  font-size: 14px;
}

.p2{
  font-size: 25px;
  /* word-spacing: 8px; */
  letter-spacing: 5px;
  font-family: serif;
  font-weight: 600;
  margin: 10px 0;
}

.p3{
  font-size: 38px;
  /* word-spacing: 15px; */
  letter-spacing: 5px;
  font-family: serif;
}

.p4{
  font-size: 14px;
  margin: 15px 0;
  letter-spacing: 1px;
  font-weight: lighter;
}

p button{
  margin: 15px 0;
  height: 40px;
  min-width: 100px;
  background-color: rgb(122, 26, 26);
  color: white;
  border: none;
  padding: 10px 15px;
}